<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @image.path %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @image.favorite %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
